@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Wilkommen bei der Anzeige von archivierten und aktuellen Bücher</h2>
    @Html.ActionLink("Hier gehts zur Anzeige der Buecher", "Index", "Buecher")
</div>
