@model BuecherListModel

<h2>Buecher aus den Datenbanktabellen:</h2>

<div style="width:45%; display: inline-block">
    <h3>Aktuelle Buecher</h3>
    <table class="table table-hover mb-0">

    <thead>
        <tr>
            <td>Titel</td>
            <td>Autor</td>
        </tr>
    </thead>

    <tbody>
        @foreach (var buch in Model.AktuelleBuecherList)
        {
            <tr>
                <td>
                    @buch.Titel
                </td>
                <td>
                    @buch.Autor
                </td>
            </tr>
        }
    </tbody>

    </table>
</div>

<div style="width:45%; display: inline-block">
    <h3>Archivierte Buecher</h3>
    <table class="table table-hover mb-0">

        <thead>
            <tr>
                <td>Titel</td>
                <td>Autor</td>
            </tr>
        </thead>

        <tbody>
            @foreach (var buch in Model.ArchivierteBuecherList)
            {
                <tr>
                    <td>
                        @buch.Titel
                    </td>
                    <td>
                        @buch.Autor
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>

